<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.AddressMapper">
        <!--新增-->
    <insert id="insert">
        insert into address(name, phone, address, user_id)
        values (#{name}, #{phone}, #{address}, #{userId})
    </insert>
      <!--删除-->
    <delete id="deleteById">
        delete from address where id = #{id}
    </delete>
     <!--修改-->
    <update id="update" parameterType="com.example.springboot.entity.Address">
        update address
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
        </set>
        where id = #{id}
    </update>
    <!--查询-->
    <select id="selectAll" resultType="com.example.springboot.entity.Address">
        select * 
        from address
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
        </where>
    </select>
    
</mapper>

