<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.TypeMapper">
    <insert id="insert">
        insert into type (name)
        values(#{name})
    </insert>

    <select id="selectAll" resultType="com.example.springboot.entity.Type">
        select *  from type
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
        </where>

    </select>

    <update id="update" parameterType="com.example.springboot.entity.Type">
        update type
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>

        </set>
        where id = #{id}
    </update>


    <delete id="deleteById">
        delete from type
        where  id = #{id}
    </delete>
</mapper>